@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");
:root {
  --primary-color: #537d5d;
  --secondary-color: #9ebc8a;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Quicksand", sans-serif;
  font-weight: bold;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
}

.container h1 {
  font-size: 2rem;
  text-align: center;
  color: var(--primary-color);
  margin-bottom: 1rem;
}
.timer-text {
  font-size: 6rem;
  color: var(--primary-color);
}
.material-icons.md-48 {
  font-size: 48px;
}

.material-icons {
  color: var(--primary-color);
  font-size: 48px;
  cursor: pointer;
}
.buttons-box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
}

#pause {
  display: none;
}
